<footer>
  <p><%= t('.project') %> <a href="http://thinknetica.com/" target="_blank">thinknetica</a></p>
  <p><%= t('.desingn') %> </p>
  <p><%= t('.author') %> </p>
  <p> GitHub: <%= github_link('neverovda', 'thinknetica_TestGuru') %></p>
  <p> <%= current_year %></p>  
</footer>
