<ul class="nav user">
  <li><%= link_to 'TestGuru', root_path %></li>
  <% if user_signed_in? %>
    <li> Welcome <b><%= current_user.email %></b> Guru </li>
    <li><%= link_to t('.logout'), destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to t('.sign_up'), new_user_registration_path %></li>
    <li><%= link_to t('.sign_in'), root_path %></li>
  <% end %>
</ul>
