<h1><%= t('.header') %></h1>
<p>
  <strong><%= t('.title')%>:</strong>
  <%= @test.title %><br>
  <strong><%= t('.category')%>:</strong>
  <%= @test.category.title %><br>
  <strong><%= t('.level')%>:</strong>
  <%= @test.level %><br>
</p>

<p>
  <%= link_to t('back'), admin_tests_path %>
  <%= link_to t('edit'), edit_admin_test_path(@test) %>
  <%= link_to t('.new_question'), new_admin_test_question_path(test_id: @test.id) %>   
</p>


<table>
  <caption><%= t('.questions') %></caption>
  <tr>
    <th><%= t('.body') %></th>
    <th colspan="3"><%= t('action') %></th>
  </tr>

  <%= render @test.questions %>
  
  <% unless @test.questions.present? %>
    <th colspan="4">The test has no questions</th>  
  <% end %>
</table>
